body{
	margin:0px;
	padding:0px;
}
.site{
	border:5;
	background-color:white;
	margin-left:15%;
	margin-right:15%;
	padding:15px;
	margin-bottom: 30px;
	display:block;
	
}
*{
   padding: 0; 
}
div{
		display:block;
		margin:0px auto;
}
#img{
	position:relative;
	top:10px;
	margin-top:5px;
}
#hh{
	font-family:Arial;
	margin-right:20%;
}
#hh1{
	font-family:Arial;
	border:3px;
	color:white;
	background-color:black;
	padding:5px;
	border-radius:6px;
	padding-left:10px;
}
#hh3{
	position:relative;
	text-align:right;
	font-family:Arial;
	font-weight:600;
	top:-70px;
}
#soz{
	font-family:Arial;
	text-align:center;
	font-size:30px;
}
#ph{
	padding-left:5px;
    padding-right:2px;
    padding-bottom:10px;
    left:-2px;
}

.ss{
	font-family:Arial;
	font-size:20px;
	margin-bottom:40px;
	margin-left:45%;
	margin-right:25%;
	font-weight: 600;
}
#new{
	position:relative;
	left:10px;
	top: -100px;
}
#foto2{
	position:relative;
	left:5px;
	top: -200px;
	width:200px;
}
#foto3{
	position:relative;
	left:4px;
	top: -200px;
	width:150px;
}
#foto4{
	position:relative;
	left:8px;
	width:200px;
	height:250px;
	margin-left:30px;
	top:-450px;
}
.ss1{
	position:relative;
	font-family:times new roman;
	text-align:right;
	font-size:30px;
	font-style:oblique;
	font-weight:600;
	color: blue;
	top:-30px;
}
.dv{
	position:relative;
	top:-90px;
}

#hhh1{
	background-color:#1BC4EC;
	padding:15px;
	border-radius:6px;
	font-family:Arial;
	margin-right:40%;
}
#hhh2{
	position:relative;
	font-family:Arial;
	margin-left:80px;
	margin-left:12%;
	margin-right:30%;
	padding:5px;
	padding-left:15px;
	border-radius:6px;
	top:-10px;
	box-shadow: inset 0 0 6px;
}
#hhh3{
	position:relative;
	font-family:Arial;
	color:#788386;  
	margin-left:120px;
	padding-left:10px;
	border-radius:6px;
	top:-15px;
}
.phhoto1{
	position:relative;
	width:90px;
	height:100px;
	border:5px solid #16A8CA;
	top:-140px;
	left:10px;
	padding:0px;
	margin:0px;
}
#hhh4{
	position:relative;
	font-family:Arial;
	top:-5px;
	left:122px;
}
.sizik{
	position:relative;
	top:-130px;
	margin-left:15px;
}
.ff{
	position:relative;
	width:90px;
	height:100px;
	top:-100px;
	border:5px solid #16A8CA;
	padding:0px;
	margin:0px;
}
#hhh5{
	position:relative;
	font-family:Arial;
	margin-left:80px;
	margin-left:12%;
	margin-right:30%;
	padding:5px;
	padding-left:15px;
	border-radius:6px;
	top:-190px;
	box-shadow: inset 0 0 6px;
}
#hhh6{
	font-family:Arial;
	position:relative;
	left:120px;
	top:-280px;
}
#hhh7{
	position:relative;
	font-family:Arial;
	color:#788386;  
	margin-left:115px;
	padding-left:10px;
	border-radius:6px;
	top:-240px;
}
.sz{
	position:relative;
	top:-245px;
	margin-left:15px;
}

.fot{
	position:relative;
	top:-215px;
	padding:0px;
	margin:0px;
}
#hhh8{
	position:relative;
	font-family:Arial;
	margin-left:80px;
	margin-left:12%;
	margin-right:30%;
	padding:5px;
	padding-left:15px;
	border-radius:6px;
	top:-305px;
	box-shadow: inset 0 0 6px;
}
#hhh9{
	font-family:Arial;
	position:relative;
	left:120px;
	top:-395px;
}
#hhh10{
	position:relative;
	font-family:Arial;
	color:#788386;  
	margin-left:115px;
	padding-left:10px;
	border-radius:6px;
	top:-350px;
}
.siz{
	position:relative;
	top:-350px;
}
#cm{
	position:relative;
	width:100px;
	padding:0px;
	margin:0px;
}
#mystyle{
	position:relative;
	top:400px;
}
#mystyle2{
	position:relative;
	top:200px;
}

#com{
	position:relative;
	top:-350px;
	left:20px;
	border:5px;
}